{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}

<main role="main">


  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-2">Trendy Home Mart</h1>
      <p>Trendy home mart is one and only renaud shops in agra where coustomers can have good deals on kitchenware's giftitems and art galary and you come here and graps new exiting deals of the mart with exclusive discount.!</p>
      <!--<p><a class="btn btn-danger btn-lg" href="#" role="button">Learn more &raquo;</a></p>-->
    </div>
  </div>


  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Kush </h2>
        <p>This website has been developed by kush   </p>
        <p><a class="btn btn-danger" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Harender Upreti</h2>
        <p>owner of the Trendy Home Mart </p>
        <p><a class="btn btn-danger" href="/shop" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-danger" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->
<center>
  <footer class="footer text-center">
    <div class="footer-top">
      <div class="row">
        <div class="col-md-offset-3 col-md-6 text-center">
          <div class="widget center">
            <h2 class="widget-title">Trendy Home Mart</h2>

            <address>Plot No C-1 Sec-13 gemini plaza semibasement karkunj road<br> Sikandra  Agra,282007</address>
            <div class="social-list">
              <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            </div>
            <p class="copyright clear-float">
              <!--© Delicious Theme. All Rights Reserved-->
              </p><div class="credits">
       <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Delicious
                -->
                <a href="/shop">Trendy Home Mart</a>
              </div>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</center>
</main>
{% endblock %}